# Environment Variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv3110/
.venv/
env/
first.py
second.py
utils.py
# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
